version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ander31
      POSTGRES_DB: kadoor_db
    ports:
      - '5433:5433'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
